# Data Loading and Cleaning

In [ ]:
# importing packages
import numpy as np
import pandas as pd
import plotly.exceptions as px

In [2]:
# load data
mouse = pd.read_excel("Mouse_Data_Student_Copy.xlsx")
mouse

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,f11,f12,f13
0,37.11,37.91,36.85,38.20,37.54,37.04,37.41,36.35,37.47,37.99,38.02,36.32,36.54
1,37.13,37.98,36.78,38.19,37.55,37.06,37.46,36.41,37.53,37.99,37.99,36.44,36.69
2,37.19,37.98,36.76,38.14,37.55,37.09,37.56,36.50,37.53,37.96,37.86,36.52,36.75
3,37.20,37.96,36.72,37.95,37.54,37.11,37.74,36.55,37.46,37.93,37.80,36.48,36.96
4,37.22,37.95,36.64,37.80,37.53,37.09,37.73,36.63,37.51,37.87,37.76,36.30,37.01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20155,36.93,37.16,36.45,37.05,37.59,37.38,37.54,36.92,36.64,37.33,37.34,36.85,36.37
20156,37.00,37.00,36.46,36.99,37.62,37.38,37.53,36.85,36.63,37.37,37.41,36.87,36.48
20157,37.08,37.10,36.48,36.96,37.67,37.40,37.47,36.85,36.65,37.33,37.45,36.92,36.56
20158,37.10,37.26,36.51,36.95,37.63,37.46,37.49,36.86,36.85,37.22,37.56,36.97,36.65
20159,37.15,37.44,36.53,36.94,37.52,37.58,37.49,36.83,36.84,37.14,37.61,37.02,36.67